<section class="big-header text-center row">
  <h1>Les P'tites Annonces</h1>
  <h2>Il y a actuellement <em><%= @how_many_ad %> annonces</em> et <em><%= @how_many_com %> commentaires</em> sur Les P'tites Annonces</h2>
</section>
<section class="text-center showcase row">
  <div class="col-lg-4">
    <h2>Créez...</h2>
    <p>Très simplement votre annonce pour qu'elle soit vue par toustes !</p>
  </div>
  <div class="col-lg-4">
    <h2>Parcourez...</h2>
    <p>La liste regroupant toutes les annonces et trouvez celle qui vous intéresse !</p>
  </div>
  <div class="col-lg-4">
    <h2>Commentez...</h2>
    <p>Une annonce qui vous intéresse pour le faire savoir à son auteurice !</p>
  </div>
</section>
