<footer class="row text-center">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <p>Codé par <a class="perso-link" href="https://github.com/ModifiedChocolateUnicorn">ModifiedChocolateUnicorn</a></p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <p>Image par <a class="perso-link" href="https://unsplash.com/photos/VDFOnAwdVjg">Robert Haverly</a></p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <p>Plus d'infos <a class="perso-link" href="https://modifiedchocolateunicorn.gitlab.io/UnicornResume/">sur moi</a></p>
  </div>
</footer>
