<footer class="row text-center">
  <div class="col-lg-4">
    <p>Codé par <a class="perso-link" href="https://github.com/ModifiedChocolateUnicorn">ModifiedChocolateUnicorn</a></p>
  </div>
  <div class="col-lg-4">
    <p>Image par <a class="perso-link" href="https://unsplash.com/photos/VDFOnAwdVjg">Robert Haverly</a></p>
  </div>
  <div class="col-lg-4">
    <p>Texte à trouver</p>
  </div>
</footer>
